/*josephine, lobster*/

/**{
  outline: cyan solid 1px;
}*/

/***** NAVBAR *****/
nav {
  background-color: #323949;
  color: #fff;
  padding-bottom: 1px;
}

nav ul {
  list-style-type: none;
  text-align: center;
  padding: 10px;
  width: 100%;
}
nav ul li {
  display: inline-block;
  margin: 0 7% 0 7%;
}
nav a {
  text-decoration: none;
  color: #fff;
  font-family: Arial;
}

nav a:hover {
  text-decoration: underline;
}
.logo {
  height: 75px;
  width: 75px;

}
/*Drawers*/
.menu-left {
  height:100%;
  display:none;
  background-color: #323949;
  color: white;
  position: absolute;
  left:0;
  z-index: 1;
  right:auto;
  bottom: 0;
  width:0px;
  overflow: auto;
  animation-duration: 1s; 
  -webkit-animation-duration: 1s;
  animation-timing-function: ease-in-out; 
  -webkit-animation-timing-function: ease-in-out;
  -webkit-box-shadow: 8px 0px 12px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 8px 0px 12px 0px rgba(0,0,0,0.75);
  box-shadow: 8px 0px 12px 0px rgba(0,0,0,0.75);
}
.dark {
  background-color: #323949;
}
.dark input[type=text]{
  border:1px solid #2a2e31;
  background-color:#2d3035;
  color:#505358;
}

.menu-right {
  height: 100%;   
  display:none;
  background-color: #323949;
  color: white;
  position: absolute;
  right:0;
  z-index: 1;
  left:auto;
  bottom: 0;
  width:0px;
  overflow: auto;
  animation-duration: 1s; 
  -webkit-animation-duration: 1s;
  animation-timing-function: ease-in-out; 
  -webkit-animation-timing-function: ease-in-out;
  -webkit-box-shadow: -8px 0px 12px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: -8px 0px 12px 0px rgba(0,0,0,0.75);
  box-shadow: -8px 0px 12px 0px rgba(0,0,0,0.75);
}
.user_settings{
  height: 75px;
  width: 75px;
}
/*HEADER ENDS*/

#wrapper {
  width: 100%;
  height: 100%;
  background-color: black;
}

#message {
  font-size: 25px;
  color: #f1c40f;
  margin-top: 5%;
  margin-left: 8%;
}

#name {
  float: left;
  margin-top: 10%;
  margin-left: 10%;
}
#user_name {
  margin-top: 10%;
  margin-right: 10%;
  float:right;
}

.container {
  background-color: white;
  width: 30%;
  text-align: center;
  border: 2px solid black;
  border-radius: 15px;
  margin-left: 69%;
  margin-right: 31%;
  margin-bottom: 50%;
  -webkit-box-shadow: -1px 6px 4px 5px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px 6px 4px 5px rgba(0,0,0,0.75);
  box-shadow: -1px 6px 4px 5px rgba(0,0,0,0.75);
  font-family: verdana;
}
