/**{
  outline: cyan solid 1px;
}*/

#notebook_wrapper {
  width: 100%;
  height: 100%;
}
#notebook_desk {
  display: block;
  text-align: center;
  height: 700px;
  margin-top: 5px;
}
#main_note{
  width: 80%;
  height: 90%;
  display: inline-block;
  text-align: center;
  margin-left: 8%;
  background-color: gray;
}

#main_note p {
  color: black;
}

#main_note ul {
  text-align: center;
  padding-top: 5%;
  padding-bottom: 5%;
  margin-right: 7%;
}

#main_note li {
  list-style-type: none;
}
#new_note {
  padding: 5px;
  text-align: center;
  float:right;
}

#create_note {
  padding: 5px;
  text-align: center;
  float: right;
  color: black;
  background-color: red;
}
#edit {
  padding: 5px;
  float:right;
  text-align: center;
  color: black;
  background-color: red;
}
#delete {
  padding: 5px;
  float:right;
  text-align: center;
  color: black;
  background-color: red;
}

/*END OF DESK*/

.notebook_container {
  text-align: center;
  background-color: black;
  bottom: 0;
  width:100%;
  display: block;
}

/*PAGE 1*/
.title {
  margin-top: 10px;
}
.description{

}
.content{

}

/*CAROUSEL*/
.carousel-caption{
  text-align: center;
  margin: 12px;
  color: white;
}


.carousel-caption p {
  color: white;
}

.carousel-caption ul {
  text-align: center;
  padding-top: 5%;
  padding-bottom: 5%;
  margin-right: 7%;
}

.carousel-caption li {
  list-style-type: none;
}
.toolbox {
  display: none;
}
.item{
    background: #333;    
    text-align: center;
    height: 300px !important;
}
.carousel{
  height: 100%;
  height: 500px;
}
.bs-example{
  height: px;
}
#myCarousel {
  height: 500px;
}