    <!-- Page Left -->
    <div id="page_left">
      
    </div>
    
    <div id="drawer_left">
      <ul>
        <li><h1 class='note_id'></h1></li>
        <li><h2 class='title'></h2></li>
        <li><h3 class='description'></h3></li>
        <li><h4 class='content'></h4></li>
        <li><h4 class='created_at'></h4></li>
      </ul>
    </div>
    <div id="drawer_center">
      <ul>
        <li><h1 class='note_id'></h1></li>
        <li><h2 class='title'></h2></li>
        <li><h3 class='description'></h3></li>
        <li><h4 class='content'></h4></li>
        <li><h4 class='created_at'></h4></li>
      </ul>
    </div>
    <div id="drawer_right">
      <ul>
        <li><h1 class='note_id'></h1></li>
        <li><h2 class='title'></h2></li>
        <li><h3 class='description'></h3></li>
        <li><h4 class='content'></h4></li>
        <li><h4 class='created_at'></h4></li>
      </ul>
    </div>
    <div id="page_right">
    </div>