<body>
<div id="parallax">


  <div id="main" class="parallax-window" data-parallax="scroll" data-image-src="../../assets/classroom2.jpg">
  </div>
  <!-- main end -->
  <div id="fusion">
    
  </div>
  <!-- mountain begin -->
  <div id="mountain" class="parallax-window" data-parallax="scroll" data-image-src="../../assets/classroom3.jpg">

  </div>
  <!-- mountain end -->
  <div id="fusion">
    
  </div>
  <!-- valley begin -->
  <div id="valley" class="parallax-window" data-parallax="scroll" data-image-src="../../assets/classroom4.jpg">
    
  </div>
  <!-- valey end -->
  <div id="fusion">
    
  </div>
  <!-- river begin -->
  <div id="river" class="parallax-window" data-parallax="scroll" data-image-src="../../assets/footer.jpg">
    
  </div>
  <!-- river end -->
</div>
  </body>

<!-- <div class="parallax-window" data-parallax="scroll" data-image-src="/path/to/image.jpg"></div> -->